.counter {
    text-align:center;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

#clicks, #highScore {
    font-family: 'Luckiest Guy', cursive;
    display: inline-block;
    position: relative;
    top: -550px;
    color: #fe93ca;
    font-size: 50px;
}